<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        .create_wrapper {
            margin-top: 20px;
        }
        .create_wrapper input {
            width: 300px;
            height: 200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text">
            Add post
        </div>

        <div class="create_wrapper">
            <form method="post">
                <input type="text" name="title" placeholder="Enter a header">
                <br>
                <br>
                <input type="text" name="text" placeholder="Enter text">
                <br>
                <br>
                <button class="btn btn-success" type="submit">Add</button>
            </form>
        </div>
    </div>
</body>

</html>